@import './../../style.scss';

.logo-list {
  padding: 15px;
  margin-bottom: 50px;

  @include breakpoint($bp-md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: masonry;
  }
}

.logo-list-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  img {
    max-width: 180px;
    filter: grayscale(1);
    transition: 0.8s;

    &:hover {
      filter: grayscale(0);
    }
  }
}