@import "./../../style.scss";

.button {
  @include font-montserrat;
  border: 0;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  line-height: 1;
  color: $color-white;
  background-color: transparent;
  padding: 8px 13px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s;
  text-align: center;
  font-size: 1rem;

  & + .button {
    margin-left: 30px;
  }

  &:hover {
    background-color: $color-carbon-fiber;
    color: $color-white;
  }
}

.button--primary {
  background-color: $color-carbon-fiber;
  color: $color-white;

  &:hover {
    background-color: $color-comp;
    color: $color-white;
  }
}

.button--secondary {
  background-color: $color-comp;
  color: $color-white;

  &:hover {
    background-color: $color-comp;
    color: $color-white;
  }
}