@import "./../../style.scss";

.button {
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: $color-charcoal;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s;
  text-align: center;

  & + .button {
    margin-left: 30px;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.button--primary {
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}