@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

@mixin font-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@mixin font-source-sans {
  font-family: 'Source Sans', sans-serif;
  font-weight: normal;
}

@mixin font-source-sans-bold {
  font-family: 'Source Sans', sans-serif;
  font-weight: bold;
}

@mixin font-cursive {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: normal;
}