$color-comp: #6f827a;
$color-secondary: #f8f8f5;
$color-white: #fff;
$color-charcoal: #404040;
$color-lgray: #eee;
$color-carbon-fiber: #2e2e2f;
$color-bauhaus: #404040;
$color-shadow-mountain: #595959;
$color-pale-gray: #f3f3f3;
$color-pale-green: #8fa69c;