$color-comp: #0e736b;
$color-secondary: #f8f8f5;
$color-white: #fff;
$color-charcoal: #404040;
$color-lgray: #eee;
$color-carbon-fiber: #2e2e2f;
$color-bauhaus: #404040;
$color-shadow-mountain: #595959;