@import "./../../style.scss";

.heading {
  @include font-montserrat;
  margin-bottom: 30px;
  font-size: 2rem;
  color: $color-charcoal;
}

.heading__container {
  padding-bottom: 15px;
  background-image: url("../../assets/brush_stroke_2.svg");
  background-repeat: no-repeat;
  background-position: left calc(-5px) bottom;
  background-size: 10%;

  &:nth-of-type(2n) {
    background-image: url("../../assets/brush_stroke_3.svg");
  }
}
