@import "./../../style.scss";

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 15px;
  }
}

.contact__heading {
  @include font-ubuntu-bold;
  font-size: 2rem;
}

.contact__ctas {
  display: flex;
}
