@import "./../../style.scss";

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 15px;
  }
}

.contact__heading {
  @include font-montserrat;
  font-size: 2rem;
}

.contact__initials {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-cursive;
  background-color: $color-white;
  padding: 40px;
  border-radius: 50%;
  color: $color-carbon-fiber;
  font-size: 6.5rem;
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
  text-align: center;
  transition: 0.8s;

  &:hover {
    background-color: $color-comp;
  }
}

.contact__ctas {
  display: flex;
}