@import "./../../style.scss";

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin-bottom: 50px;
  padding: 0;
  width: 100%;

  .list {
    column-count: 1;
    margin-bottom: 0;

    li {
      width: 100%;
    }
  }
}

.timeline-item {
  padding-left: 40px;
  position: relative;
  padding-bottom: 20px;

  &:last-child {
    padding-bottom: 0;
  }
}

.timeline-info {
  @include font-ubuntu-bold;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-shadow-mountain;
  font-weight: bold;
}

.timeline-marker {
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  width: 10px;

  &:before {
    content: '';
    background: $color-carbon-fiber;
    border: 3px solid transparent;
    border-radius: 100%;
    display: block;
    height: 10px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 10px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    z-index: 2;
  }

  &:after {
    content: '';
    width: 2px;
    background: $color-pale-gray;
    display: block;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 6px;
    z-index: 1;
  }

  .timeline-item:last-child {
    &:after {
      content: none;
    }
  }
}

.timeline-item:not(.period):hover {

  .timeline-marker:before {
    background: $color-madevergreen;
  }
}

.timeline-content {
  padding-bottom: 20px;

  p:last-child {
    margin-bottom: 0;
  }
}

.timeline-title {
  @include font-ubuntu-bold;
  display: inline;
  background-color: $color-madevergreen;
  color: $color-white;
  padding: 3px;
  font-size: 1.25rem;
}

.timeline-company {
  @include font-ubuntu-bold;
  color: $color-shadow-mountain;
  font-size: .875rem;
}
