@import './../../style.scss';

.page-layout {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-lg) {
    flex-direction: row;
  }

  svg {
    position: absolute;
  }
}

.page-layout__column--1 {
  background-color: $color-pale-gray;
  color: $color-carbon-fiber;
  padding: 50px;

  @include breakpoint($bp-lg) {
    height: 100%;
    position: fixed;
    width: 25%;
  }
}

.page-layout__column--2 {
  padding: 50px;

  @include breakpoint($bp-lg) {
    margin-left: calc(25% + 100px);
  }
}
